.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0 25%;

  &-producto {
    display: flex;
    flex-direction: row;
    gap: 3%;
    padding: 5% 10%;

    &:nth-of-type(odd) {
        background-color: $gris ;
    }

    &-descripcion {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 0 10%;
    }
    &-trash {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 20%;

      &-agg {
        display: flex;
        flex-direction: row;
        width: 10%;
      }
    }
  }
  & img {
    width: 20%;
  }
}
