.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0 25%;

  @media screen and (max-width: 758px) {
    padding: 0 5%;
  }

  &-producto {
    display: flex;
    flex-direction: row;
    gap: 3%;
    padding: 5% 10%;

    &:nth-of-type(odd) {
        background-color: $gris ;
    }

    &-descripcion {
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 0 10%;
      @media screen and (max-width: 758px) {
        margin: 0 2%;
      }
    }
    &-trash {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 20%;
      @media screen and (max-width: 758px) {
        width: 100px;
      }
      

      &-agg {
        display: flex;
        flex-direction: row;
        width: 10%;

        .resta{
          flex: 0 0 20px;
        }

        .input{
          flex: 0 0 45px;
          width: 100%;
          text-align: center;
        }

        .suma{
          flex: 0 0 20px;
        }
      }
    }
    &-buy {
      width: 40%;
      margin-top: 5%;
      padding: 1% 0;
      margin-left: auto;
      margin-right: auto;
      border: none;
      border-radius: 5px;
      color: white;
      transition: all 1s;

      &:hover {
        transform: scale(1.1);
      }

    }
  }
  & img {
    width: 20%;
    @media screen and (max-width: 758px) {
      width: 50px;
      height: 50%;
      object-fit: cover;
    }
  }
}
