.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

 

  &-izq {
    width: 85%;
    border-bottom: solid 1px $negro;
  }
  &-redes {
    &__ico {
      width: 1.875rem; 
      height: 1.875rem;
    }
  }

  &-logo {
    width: 10%;
    align-content: flex-end;
    margin-right: 5%;

    & img {
      margin-left: 10%;
      width: 100%;
    }
  }
}
