$rosado : #D73E5C;
$verde : #1D7B7A;
$amarillo : #FFD52F;
$vino : #B3080A;
$gris : #F1F1F1;
$negro: #000000;
$blanco:#ffff;

@import './global.scss';
@import './footer.scss';
@import './header.scss';
@import './collage.scss';

